body {
    background-color: #E7E7E7;
    margin: 0;

}

.header {
    height: 75px;
    width: 100%;
    background-color: whitesmoke;
    margin-top: 30px;
    align-content: center;
}

.header-logo {
    width: 105px;
    height: 105px;
    border-radius: 300px;
    margin: -5px 107.5px  70px;

}
.title {
    margin-top: 30px;
    font-family: abel;
    margin-left: 50px;
}
