.row {
    height: 4em;
}
.row:after {
    content:"";
    display: table;
    clear: both;
}
.container {
    margin-top: 3em;
    width: 100%;
    background-color: white;
    height: 4em;
    padding: 0;
    border: none;
}
body {
    background-color: #F0F0F0;
}
.column {
    padding: 1em;
}
.center {
    width: 100%;
}
.logo {
    height: 5.9em;
    margin-top: -2em;
}
h1 {
    font-family: abel;
}
.nav-list {
    margin-top: 5em;
    margin-left: 1.6em;
}
.column-services {
    padding-left: .4em ;
    padding-right: .4em;
    color: black;
}
.column-work {
    padding-left: .4em ;
    padding-right: .4em;
}
.column-blog {
    padding-left: .4em ;
    padding-right: .4em;
}
.column-contact {
    padding-left: .4em ;
    padding-right: .4em;
}
a {
    color: black;
    font-family: abel;
}
.header-h1 {
    height: 4em;
    width: 100%;
    padding-left: 1.5em;
}
.main-h1-a {
    padding-right: .5em;
    text-align: center;
    font-family: anton;
    font-size: 2.5em;
}
.main-h1-b {
    padding-right: .2em;
    font-family: anton;
    font-size: 2.5em;
}
.main-h2 {
    padding-top: 3.5em;
    text-align: center;
    width: 100%;
    font-family: anton;
    font-size: 1.5em;
}
.column-red-design {
    padding: 3.4em;
    border: solid white .5em;
    border-radius: 50% ;
    width: 5%;
    margin-top:2em;
    margin-left: 2.3em;
    background-color: #E6563B;
}
.column-green-support {
    padding: 3.4em;
    border: solid white .5em;
    border-radius: 50% ;
    width: 5%;
    margin-top:-3.5em;
    margin-left: 2.3em;
    background-color: #6BB76C;
}
.column-yellow-develop {
    padding: 3.4em;
    border: solid white .5em;
    border-radius: 50% ;
    width: 5%;
    margin-top: -7.7em;
    margin-left: 2.3em;
    margin-right: 1.9em;
    background-color: #F19C00;
    float: right;
}
.column-blue-host {
    padding: 3.4em;
    border: solid white .5em;
    border-radius: 50%;
    width: 5%;
    margin-top: -7.7em;
    margin-left: 2.3em;
    margin-right: 1.9em;
    background-color: #00B1AD;
    float: right;
}
.btn-label-design{
    color: white;
    font-family: anton;
    margin-top: -2.3em;
    margin-left: .93em;
    font-size: 90px;
}
.btn-label-develop {
    color: white;
    font-family: anton;
    font-size: 90px;
    margin-top: -2.55em;
    margin-left: 2.3em;
}